body{
  background-color: #DBDEEE;
}

.font-bowlby{
  font-family: 'Bowlby One SC', cursive;
}

.font-prompt{
  font-family: 'Prompt', sans-serif;
}
.font-gentium {
  font-family: 'Gentium Book Basic', sans-serif;
}

.font-book{
  font-family: 'Gentium Book Basic', serif;
}




#navbar-wallet-md button{
  border-radius: 30px;
}

#navbar-wallet-md{
  font-family: 'Bowlby One SC', cursive;
}

#navbar-links{
  font-family: 'Bowlby One SC', cursive;
}



#hero {
}
#hero-content-button button{
  color: #00CB17;
  border-radius: 30px
}




#story{
  overflow: hidden;
}

div[id^='story-chapter'] {
  max-width: 1000px;
}

div[id^='story-chapter'] [id^='paragraph'], #story-intro #paragraph{
  font-size: 24px;
}


@media screen and (min-width: 900px){
  div[id^='story-chapter'] [id^='paragraph'], #story-intro p{
    font-size: 27px
  }
}


#story-intro{
  width: 100%;
  max-width: 1000px;
}
#story-intro{
  max-width: 1000px;
}
#story-chapter1 #image{
  max-width: 400px;
}





#collection {
  height: 600px;
  max-height: 600px;
}

#collection-content{
  background-color: #ebf1f1;
}

#collection-content-title{
  color: #191c43;
}

#collection-content-paragraph{
  color: #191c43b3;
}
#collection-content-paragraph strong{
  color: #191c43;
  font-weight: 900;
}

#collection-content-button button{
  background-color: #849BFE;
  border-radius: 30px;
}

@media screen and (min-width: 430px){
  #collection-content{
    max-width: 420px;
  }
}

#collection-content{
  border-radius: 25px;
}




.anim-scroll {
  animation: 240s linear 0s infinite normal none running marque;
}

.anim-inverseScroll{
  animation: 240s linear 0s infinite normal none running inverseMarque;
}




@keyframes marque {
  0%, 100%{
      transform: translateY(-1%)
  }
  50%{
      transform: translateY(-75%);
  }
}


@keyframes inverseMarque {
  0%, 100%{
      transform: translateY(-75%)
  }
  50%{
      transform: translateY(-1%);
  }
}