body{
  font-family: "Bowlby One SC", sans-serif;
  background-color: #DBDEEE;
}
<<<<<<< HEAD

*{
  font-family: 'Gentium Book Basic', serif;
}

#navbar-wallet-md button{
  border-radius: 30px;
}

#navbar-wallet-md{
  font-family: 'Bowlby One SC', cursive;
}

#navbar-links{
  font-family: 'Bowlby One SC', cursive;
}
=======
#hero {
  height: 600px;
}
>>>>>>> 10ee70bc4c33391080f78a77de51552d5c7147e3
